#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    width: 93%;
    height: 90%;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background:
    linear-gradient(
        rgba(146, 168, 209, 0.85), 
        rgba(146, 168, 209, 0.85)
    ),
    url(https://raw.githubusercontent.com/ptanzy/Basic-Portfolio/master/assets/images/aboutbkgd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid #c4b7a6;
    background: #d5e1df; */
    margin: 2% 3% 3% 3%
}

article {
    flex-grow: 1;
    width: 33.3%;
    height: 90%;
    border-radius: 25px;
    /* border: 1px solid #d6cbd3;
    background: #e6e2d3; */
    margin: 2% 1.5% 3% 3%
}

article > p {
    margin: 5% 4% 4% 4%;
}

aside {
    flex-grow: 2;
    width: 66.6%;
    height: 90%;
}

aside > img {
    border-radius: 25px;
    /* border: 1px solid #d6cbd3;
    background: #e6e2d3; */
    margin: 3% 4% 4% 4%;
    width: 90%;
    height: 100%;
}

